<section class="section form-section">
  <div class="wrap">
    <div class="form-container">

      <h1 class="section__title">
          Just do it, enter you letter.
      </h1>
      <form class="form">
        <input type="text" placeholder="Login">
        <input type="password" placeholder="Password">
        <div class="form-checkbox">
          <input type="checkbox" placeholder="Password" id="form-checkbox__input">
          <label for="form-checkbox__input">Remember me</label>
        </div>
        <input type="submit" value="Sign in">
      </form>

    </div>
  </div>
</section>
